# This workflow will build and publish a Python distribution to PyPI when a release is created.
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-python-packages

name: Upload Python Package to PyPI

on:
  release:
    types: [published]

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: python -m pip install --upgrade pip build
    - name: Build package
      run: python -m build
    - name: Publish package to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      # No password needed, uses trusted publishing (OIDC)
